:root {
    --primary-color: #ececec;
    --branding-color:#80ac7b;
    --heading-font-family: 'Playfair Display', serif;
    --default-font-family: 'Nunito', sans-serif;
}
h1, h3, h4, h5, h6 {
    color: black;
    font-family: var(--heading-font-family);
    font-weight: bold;
}

h1 {
    font-size: 85px;
}

.hero {
    background: var(--primary-color);
    text-align: center;
    padding: 100px 20px;
}

.hero p {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
}

.hero h2 {
    font-family: var(--default-font-family);
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}

.btn-branding {
    background: var(--branding-color);
    border-radius: 8px;
    color: white;
    font-size: 18px;
    line-height: 28px;
    padding: 15px 25px;
}