:root {
  --primary-color: #ececec;
  --branding-color: #80ac7b;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Nunito", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}

h1 {
  font-size: 85px;
  line-height: 1.5;
}

h2 {
  font-size: 55px;
}

p {
  font-family: var(--default-font-family);
  font-size: 16px;
  line-height: 1.5;
}

.hero {
  background: var(--primary-color);
  text-align: center;
  padding: 100px 20px;
}

.hero p {
  font-size: 40px;
  font-weight: bold;
  margin: 0;
  font-family: var(--default-font-family);
  font-weight: normal;
}

.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 8px;
  color: white;
  font-size: 18px;
  line-height: 28px;
  padding: 15px 25px;
}

.heading {
  font-size: 24px;
}

.project-description {
  padding: 35px 60px;
}

.btn-branding-outline {
  border-radius: 8px;
  border: 1px solid var(--branding-color);
  color: var(--branding-color);
  font-size: 18px;
  line-height: 28px;
  padding: 15px 25px;
}

.content-container {
  padding: 100px 20px;
}

.content {
  margin: 30px;
}

.content h1 {
  font-size: 64px;
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
}

.content h3 {
  font-size: 24px;
  font-family: var(--default-font-family);
  margin: 20px 0 0;
}

@media (max-width: 960px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 40px;
  }

  .hero {
    padding: 50px 10px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }

  .content-container {
    text-align: center;
    padding: 0;
  }
}
